#--  sr data
data/ghosts/original

#--  build
*build
build*
Debug*
Release*
bin

CMakeLists.txt.user*

#-- win bin
*.dll
*.pdb
*.exe
proj/*.lib
proj/*.exp
proj/.vs

#-- vs crap
*.ncb
*.suo
*.user
*.lnk
*.ilk
*.opensdf
*.sdf

#--  transl
locale/translation*
.tx
*.pot
sr.log
